body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.App-header {
  background-color: #333;
  color: white;
  padding: 50px;
  text-align: center;
}

.App-header h1 {
  font-size: 3rem;
}

.App-header p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.logo-image {
  margin: 20px 550px;
  width: '30%';
  height: '30%';
}

.App-header button {
  background-color: #f76c6c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.services {
  padding: 50px 20px;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-item {
  background-color: white;
  padding: 20px;
  margin: 10px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
  color: #f76c6c;
}

.contact {
  background-color: #f76c6c;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.contact input, .contact textarea {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.contact button {
  background-color: white;
  color: #f76c6c;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}